#box{
    height: 250px;
    width: 250px;
    background-color: skyblue;
    text-align: center;
    font-size: 12em;
    animation-name:colorChange;
    animation-duration: 2s;
}

@keyframes slideleft {
    from{transform: translateX(300%);}
    
}

@keyframes slideright {
    to {transform: translateX(300%);}
    
}

@keyframes slideUp {
    from{transform: translateY(300%);}
    
}

@keyframes slidedown {
    to {transform: translateY(300%);}
    
}
@keyframes rotate {
    10%{transform: rotatez(180deg);}
}

@keyframes grow {
    100%{transform: scale(2,2) ;}
}

@keyframes shrink {
    50%{transform:scale(0.5,0.5) ;}
}

@keyframes fade {
    100%{capacity:0}
    
}

@keyframes colorChange{
    0%{background-color: skyblue};
    20%{background-color: rgb(230, 230, 112)};
    40%{background-color: rgb(182, 103, 91)};
    60%{background-color: rgb(230, 230, 112)};
    80%{background-color: rgb(182, 103, 91)};
    20%{background-color: rgb(230, 230, 112)};
}