
body{
  margin:0px;  
} 

main{
    margin-left: 20px;
    margin-right: 20px;

}
h1{
    text-align: center;
}

.navbar ul{
    list-style-type:none;
    background-color: rgb(219, 173, 105);
    padding:8px 3px;
    margin: 0px;
    overflow:hidden;
    
}
.navbar a{
    text-decoration: none;
    background-color: aqua;
    color:black;
    padding:2px;
    display: block;
    text-align: center;
}

.navbar a:hover{
    background-color: rgb(214, 214, 20);
}

.navbar li{
    float:left;
}


<body>
    <div class="navbar">
        <h1>Gems Tmg</h1>
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="product.html">Products</a></li>
            <li><a href="help.html">Help</a></li>
        
        </ul>
        
    </div>

    <main>
        <h3>Welcome to the Page</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda, asperiores? Enim illum laboriosam facere corrupti? Error impedit autem similique placeat magni in numquam. Molestiae aperiam labore culpa. Maxime, soluta illum.</p>
    </main>
</body>