#box1{
    height: 100px;
    width: 100px;
    background-color: rgb(56, 139, 139);
    position:fixed;
    top:100px;
    left:100px;
}

#box2{
    height:50px;
    width:50px;
    position:absolute;
    background-color:rgb(255, 0, 55);
    top:25px;
    left:15px;
}