body{
    margin:0;
}

.box{
    width:200px;
    height: 200px;
    font-size: 3em;
    text-align: center;
    border: 5px solid;
    transform: translate(200px,50px) rotateZ(45deg);
}

#box1{
    
    background-color: rgb(126, 216, 255);
}

#box2{
    
    background-color: rgb(201, 220, 62);
}

#box3{
    
    background-color: rgb(197, 88, 135);
}